<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AGA_BROD.Properties.Settings.AgafactureConnectionString"
            connectionString="Data Source=MOSTAPHA\SQLEXPRESS;Initial Catalog=Agafacture;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>